
<div class="row">
	<select class="browser-default" ng-model='ckClass'>
      <option value="" disabled selected>選擇班系</option>
      <option ng-repeat="class in classData" ng-value="class.Lid">{{class.name}}</option>
    </select>
</div>
<div class="row">
	<select class="browser-default" ng-model='channel'>
      <option value="" disabled selected>推播頻道</option>
      <option ng-value="channel.channel" ng-repeat="channel in channelsData">{{channel.name}}</option>
    </select>
</div>
<div class="row">
	  <div class="row">
	    <div class="input-field col s12">
	      <textarea id="textarea1" class="materialize-textarea" ng-model='msg'></textarea>
	      <label for="textarea1" >Message</label>
	    </div>
	  </div>
	
</div>
<div class="row">
	{{print}}
	<button class="btn waves-effect waves-light red accent-2 right" ng-click="push()">傳送</button>
</div>