<div class="row">
<form ng-submit="addList()">
	<div class="input-field col l10 s10">
		<input id="event" type="text" class="validate" ng-model="content">
      	<label for="event">新增事件</label>
	</div>
	<div class="input-field col">
		<button class="tooltipped btn-floating btn-small waves-effect waves-light red" type="submit" data-position="bottom" data-delay="50" data-tooltip="點擊新增">
			<i class="mdi-content-add"></i>
		</button>
	</div>

	<addbuttonsbutton></addbuttonsbutton>
</form>
</div>


<div class="row" >
	<div id="thisList" style="display: none;"></div>
	<ul class="collection" ng-show="listData.length > 0">
		<!-- in the a tag use ng-click you need set attr "href" or "href="""  -->

		<a addbuttons id="{{list._id}}" href class="collection-item" ng-repeat="list in listData | orderBy:'date':false" style="transition: background-color 0.5s ease;" ng-click="listActive(this)">
			<div style="display: none;" id="eid"></div>
			<span  class="title" id="{{list._id}}">{{list.content}}</span>
			<!-- <div style="float: right;">
				<button style="display: none;" class="btn-floating waves-effect waves-light yellow darken-1" ng-click="editList(list)">
					<i class="mdi-editor-mode-edit"></i>
				</button>
				<button style="display: none;" class="btn-floating waves-effect waves-light red accent-2" ng-click="deleteList(list)">
					<i class="mdi-action-delete"></i>
				</button>
			</div> -->
			<br/><span>{{list.date | date:'yyyy/MM/dd hh:mm:ss'}}</span>
		</a>
	</ul>
</div>

<div id="modal1" class="modal">
	<div calss="modal-content">
		<div class="row">
			<h3 class="col l8 s8 offset-s2 offset-l2" style="margin-top: 20px">修改</h3>
			<div class="input-field col l8 s8 offset-s2 offset-l2">
				<input id="event" type="text" class="validate" ng-model="list.content">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn waves-effect waves-light red accent-2" ng-click="save(list)">
			SAVE
		</button>
	</div>
</div>