<!-- 導航欄 -->
<header>
  <nav class="green lighten-2" role="navigation">	
  	<ul id="slide-out" class="side-nav">
  		<a class="mdi-content-clear">CLose</a>
  	    <li><a ui-sref='app.todoList'>選單1</a></li>
  	    <li><a ui-sref='app.notifocation'>推播試做</a></li>
  	    <li><a ui-sref='app.csstraining' clss>Css 練習</a></li>
  	    <li><a ui-sref='app.angulargrid' clss>gridView</a></li>
  	    <li><a ui-sref='app.controllertest' clss>controller傳值</a></li>
  	    <li><a href="#!">Second Sidebar Link</a></li>
    	</ul>
    	<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
    	<a href="#" class="brand-logo center">ToDoLsit</a>
  </nav>
</header>
<!-- 內容 -->
<!-- ng-view -->
	
<main class="container" style="padding-top: 20px;">
	<div ui-view="content"></div>
</main>
<!-- 頁腳 -->
<footer class="green lighten-2 page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

